.logResult
{
    text-decoration: none;
    position: relative;;
    width: 100%;
    text-decoration-color: #FDFDF7;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.MoonLogTable{

    position: relative;
    width: 100%;
    z-index: 1002;
    text-decoration: none;
    padding: 8px 15px;
    color: #fff;
    border-radius: 20px;
    font-size: 1.3rem;
}

